*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 75%;
    margin:50px auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 5fr 8fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-gap: 4px;
}

.div1{
    background-color: red;
    grid-column: 1 /  5;
    grid-row: 1 / 2;
}
.div2{
    grid-row: 2 / 4;
    background-color: blue;
}
.div3{
    grid-row: 2 / 4;
    background-color: green;
}
.div4{
    grid-row: 2 / 4;
    background-color: yellow;
}
.div5{
    grid-row: 2 / 34;
    background-color: orange;
}
.div6{
    grid-column: 1/4;
    grid-row: 4 / 34;
    background-color: purple;
}
.div7{
    grid-column: 1/5;
    grid-row: 34/54;
    background-color: brown;
}


@media screen and (max-width: 600px) {
    main {
        grid-template-rows: 2fr 5fr 8fr 2fr;
        grid-template-columns: 1fr;
        grid-gap: 4px;
    }
    .div1{
        grid-column: 1 /  -1;
        grid-row: 1 / 3;
    }
    .div2{
        grid-row: 3 / 80;
        grid-column: 1/-1;
        background-color: blue;
    }
    .div3{
        grid-row: 80 / 180;
        grid-column: 1/-1;
        background-color: green;
    }
    .div4{
        grid-row: 180 / 250;
        grid-column: 1/-1;
        background-color: yellow;
    }
    .div5 {
        grid-row: 250 / 350;
        grid-column: 1/-1;
        background-color: orange;
    }
    .div6{
        grid-row: 350 / 450;
        grid-column: 1/-1;
        background-color: purple;
    }
    .div7{
        grid-row: 450 / 500;
        grid-column: 1/-1;
        background-color: brown;
    }
}